$primary: rgb(2, 151, 59);
$secondary: rgb(108, 231, 108);
$tertiary: rgb(255, 199, 14);
$text: rgb(43, 43, 43);


//gradients
$gradient-primary: linear-gradient(rgba(2, 151, 59, 0.9), rgba(0, 100, 30, 0.9));
$gradient-primary-transparent: linear-gradient(120deg, rgba(33, 223, 61, 0.7) 0%, rgba(102, 231, 108, 0.7) 42%, rgba(47, 232, 62, 0.7) 64%, rgba(22, 255, 0, 0.7) 100%, rgba(197, 241, 174, 0.4) 100%);
$gradient-tertiary: linear-gradient(90deg, rgba(247, 138, 2, 1) 0%, rgba(255, 177, 12, 1) 30%, rgba(255, 229, 0, 1) 100%);
$gradient-teriary--slashed:linear-gradient(120deg, rgba(247, 138, 2, 1) 0%, rgba(255, 177, 12, 1) 49%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%);
$gradient-teriary--slashed--transparent:linear-gradient(120deg, rgba(247, 138, 2, 0.8) 0%, rgba(255, 177, 12, 0.8) 49%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.8) 100%);
//heights
$header-height:5rem;
//shadow
$shadow: 15px 0px 30px 1px rgba(78, 78, 78, 0.39);
//margins
$pageMargin:7rem;

//breakpoints
$phone:400px;
$tablet:700px;
$laptop:1200px;

//fonts
$heading:"spinwerad";
$subheading:"piazzolla"


//fontSizes