@import "../../../styles/variables";
@import "../../../styles/utilities";

.Entry {

    padding: $header-height 5rem;
    background-image: $gradient-primary;
    background-size: 150%;
    background-repeat: no-repeat;

    &__Header {
        margin: 5rem 0;
        font-size: 4rem;
        font-weight: bold;
        color: white;
        font-family: $heading;
        width: 100%;
        text-align: center;
    }

}