@import "../../../styles/variables";
@import "../../../styles/utilities";

.Location {
    position: relative;
    height: 100vh;


    padding-left: 0;
    padding-right: 0;



    &__Header {
        color: white;
        text-align: left;
        font-family: 'Piazzolla', serif;

        font-size: 60px;
        margin-bottom: 3rem;
    }

    &__Subheader {
        color: white;
        text-align: left;
        font-family: 'Piazzolla', serif;
        font-size: 1.1rem;
        padding-right: 10rem;
    }

    &__Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: white;



        &__Article {
            height: 100%;
            padding-top: 5rem;
            padding-left: 3rem;
            width: 100%;
            background-image: linear-gradient(rgba(2, 151, 59, 0.979), rgba(0, 100, 0, 0.911)), url('../../../assets/backgrounds/Piotrkowska_1.jpg'), ;
            background-size: cover;
            background-position: 100% 0;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);

            &__Text {
                font-size: 1.3rem;
                color: white;
                font-family: 'Piazzolla', serif;
                padding-right: 17rem;
                padding-top: 2rem;
            }
        }

        &__Aside {
            height: 100%;
            background: white;


            &__Text {
                color: $text;
                text-align: left;
                font-family: 'Piazzolla', serif;
                font-size: 20px;
                margin-top: 6rem;
                padding-right: 2rem;
                padding-left: 2rem;
            }

        }


    }
}